<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="main">
    <div>
        <h3 class="noborder nomargin">{circular.title}</h3>
        <div class="informations">
            <f:translate key="tx_circular_domain_model_circular.category.{circular.category}"/>
            {circular.number}
            <f:translate key="of"/>
            {circular.dateOfCircular -> f:format.date(format: 'd.m.Y')},
            <br/>{circular.department.title}
        </div>
        <dl class="extdl">
            <f:if condition="{circular.files}">
                <f:then>
                    <f:for each="{circular.files}" as="file">
                        <dd>
                            <a href="{file.originalResource.publicUrl}" title="{file.originalResource.name}">
                                <span aria-hidden="true" class="icon-download"></span>
                                {file.originalResource.name}
                            </a>
                        </dd>
                    </f:for>
                </f:then>
                <f:else>
                    <dd class="showHint">
                        <f:translate key="hint"/>
                    </dd>
                </f:else>
            </f:if>
        </dl>
    </div>

    <div id="dialogHint" title="{f:translate(key: 'hint')}">
        <p>{settings.textForHint}</p>
    </div>
</f:section>
</html>
