<f:layout name="Default" />

<f:section name="content">

	<f:flashMessages />

	<f:form action="prepare" name="circular">
		<table class="tx_circular">
			<tr>
				<th> </th>
				<th><f:translate key="tx_circular_domain_model_circular.number" /></th>
				<th><f:translate key="tx_circular_domain_model_circular.title" /></th>
				<th> </th>
			</tr>

			<f:be.widget.paginate objects="{circulars}" as="paginatedCirculars" configuration="{itemsPerPage: 50, insertAbove: 1, insertBelow: 0, recordsLabel: 'Rundschreiben'}">
				<f:for each="{paginatedCirculars}" as="circular">
					<tr>
						<td><f:form.checkbox name="circulars[]" value="{circular.uid}" /></td>
						<td><f:link.action action="show" arguments="{circular: circular}">{circular.number}</f:link.action></td>
						<td>{circular.title}</td>
						<td><f:link.action action="delete" arguments="{circular: circular}">Delete</f:link.action></td>
					</tr>
				</f:for>
			</f:be.widget.paginate>
		</table>
		<f:form.submit value="Prepare selected" />
	</f:form>

</f:section>
