<html lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="content">
	<h1>Prepare Circulars</h1>
	<h2>Prepare Circulars for Mail Queue (direct_mail)</h2>
	<p>In this list you only see circular records which have not been sent by direct_mail</p>

	<f:form action="prepare" name="circular">
		<table class="table">
			<tr>
				<th> </th>
				<th>{f:translate(key: 'tx_circular_domain_model_circular.number')}</th>
				<th>{f:translate(key: 'tx_circular_domain_model_circular.title')}</th>
				<th> </th>
			</tr>

			<f:for each="{circulars}" as="circular">
				<tr>
					<td>
						<f:form.checkbox name="circulars[]" value="{circular.uid}" />
					</td>
					<td>
						<f:link.action action="show"
													 arguments="{circular: circular}">
							{circular.number}
						</f:link.action>
					</td>
					<td>{circular.title}</td>
					<td>
						<f:link.action action="delete" arguments="{circular: circular}">
							<core:icon identifier="actions-edit-delete" />
						</f:link.action>
					</td>
				</tr>
			</f:for>

			<f:render partial="Component/Pagination"
								arguments="{pagination: pagination, paginator: paginator, actionName: 'list'}" />
		</table>

		<f:form.submit class="btn btn-default" value="Prepare selected" />
	</f:form>
</f:section>
</html>
